* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    min-height: 100vh;
}

#left {
    color: white;
    flex: 1 0 40%;
    background: url(pexels-pixabay-206359.jpg) center/cover;
    min-height: 100vh;
    font-family: "Fura", "Helvetica", "Arial", "Roboto", "Open Sans", sans-serif;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    font-size: 3rem; /* Adjust this value as needed */
    font-weight: bold; /
}

#logo-container {
    flex: 0 0 14%;
    display: flex;
    opacity: 0.5;
    background-color: black;
    min-height: 0; /* force it to shrink */
}

#text,
#logo {
    max-height: 100%; 
    display: flex;
    align-items: center;
}

#text {
    flex: 0 0 60%;
}

#logo {
    flex: 0 0 40%;
    justify-content: flex-end;
}

#logo img {
    max-width: 100%;   
    max-height: 90%;
    object-fit: contain;
}

#right {
    flex: 1 0 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.upper-border, 
.middle,
.lower-border {
    flex: 1 0 33%;
}

.upper-border,
.lower-border {
    background-color: lightgray;
}

.upper-border {
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.upper-border p:first-child  {
    margin-bottom: 35px;
}

